<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
        <add name="PcPoolEntitiesConnectionString" connectionString="metadata=res://PcPool.Inventory.DAL/DataModel1.csdl|res://PcPool.Inventory.DAL/DataModel1.ssdl|res://PcPool.Inventory.DAL/DataModel1.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=969656;Host=127.0.0.1;Database=PcPool;Persist Security Info=True;Initial Schema=public&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>